@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.horario{
    text-align: center;
}

body{
    background-color: #262c3a;
    background-image: url('img/rick.png');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
*{
    color: white;
    font-family: poetsen-one;
    padding: 0;
}

a:hover{
    color: #8F9690;
}
i:hover{
    color: #8F9690;
}

.fa-angle-left{
    padding: 20px;
    height: 60px;
    width: 60px;
    border: 2px solid #F8FFE5;
    border-radius: 60%;
    margin-left: 40px;
    text-align: center;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}
.btn{
    color: black;
    background-color: #2D3340;
    margin: 10px;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: #8F9690 0 0 0 2px;
}

/* FIN INDEX */

.titulo{
    text-align: center;
    margin-left: 20px;
}
.container-productos {
    height: 10px;
    margin-left: 10px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#container-productos{
    column-count:1; 
    /* el de arriba es para el espacio de los elementos del menu */
    column-gap:10px;
    column-rule:2px;
    margin-left: 120px;
}
.card-productos {
    background-color:#262c3a;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    width: 200px;
    text-align: center;
    justify-content: center;
}
.nombre {
    font-size: 16px;
    margin-bottom: 5px;
}
.img-productos {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.precio {
    margin-bottom: 10px;
}
.boton-productos {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    height: 40px;
    width: 100px;
    padding: 10px;;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

/* FIN CAFETERIA */

.container-fluid{
    text-align: center;
}
.contacto{
    margin: 40px;
    height: 100px;
    width: 100px;
    padding: 100px;
}

/* FIN RESERVAS */

footer{
    padding: 20px;
    text-align: center;
    height: 150px;
}

footer p{
    margin-bottom: 20px;
    /* color: azure; */
}

footer .redes a{
    /* color: azure;  */
    text-decoration: none;
}
.linkedin{
    margin: 20px;
}
.github{
    margin: 20px;
}
.copyright{
    margin: 20px;
}

.What {
    height: 40px;
    width: 40px;
    background-color: springgreen;
    color: #F8FFE5;
    position: fixed;
    right: 30px;
    bottom: 40px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    border: 2px solid #F8FFE5;
}

@media only screen and (min-width: 0px) {
    *{
        font-size: 16px;
    }

    button{
        margin-left: 40px;
    }
}

@media only screen and (min-width: 768px) {
    button{
        margin-left: 160px;
    }
    #container-productos{
        column-count:3; 
        /* el de arriba es para el espacio de los elementos del menu */
        column-gap:10px;
        column-rule:20px;
        margin-left: 60px;
    }
}

@media only screen and (min-width: 1024px) {
    button{
        margin-left: 200px;
    }
    #container-productos{
        column-count:3; 
        /* el de arriba es para el espacio de los elementos del menu */
        column-gap:10px;
        column-rule:2px;
        margin-left: 120px;
    }
}
